/* BILAN */
.bilan .button1,
.bilan .primary,
.checkout .complete-purchase:not(.disabled):not(:disabled), 
.checkout .complete-purchase-button:not(.disabled):not(:disabled) {
    background: #AA0A0C !important;
    color: #fff !important;
}

.bilan .button1:hover,
.bilan .primary:hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):hover {
    background: rgba(170, 10, 12, 0.8) !important;
}

.femina .bestseller .bestseller-text div {
    color: #AA0A0C !important;
}

/* bilan */