/* COMMON VERTICAL COLORS */
.fuw,
.fuw a,
.fuw .text,
.fuw .inline-holder,
.schweizer,
.schweizer a,
.schweizer .text,
.schweizer .inline-holder,
.femina,
.femina a,
.femina .text,
.femina .inline-holder,
.bilan,
.bilan a,
.bilan .text,
.bilan .inline-holder,
.checkout,
.checkout .account-head .benefits,
.checkout .term-details,
.checkout .term-details t,
.checkout .tariff-plan-cell,
.checkout h4,
.checkout .billing-country .tp-dropdown__item-color.blue,
.checkout .add-credit-card,
.checkout .go-back-to-cards,
.checkout a.button.promo-code-apply,
.checkout button.button.promo-code-apply,
.custom-checkbox label,
.checkout .consents .custom-checkbox label a,
.checkout .consents .custom-checkbox label a:visited,
.checkout .receipt .content,
.checkout .view-alreadyHasAccess .content,
#piano-myaccount,
#piano-myaccount .btn-group>.btn,
#piano-myaccount .btn-group>.dropdown-menu,
#piano-myaccount .btn-group>.popover,
#piano-myaccount .change-option-description,
#piano-myaccount ul.simple-list>li.simple-list__item--with-dot,
#piano-myaccount ul.simple-list>li.simple-list__item,
.update-payment-method .payment_info,
.vanilla-table tr>td .resource-title,
.vanilla-table tr>td .transaction-date,
.expiration-warning,
.btn.underline,
.vanilla-table button,
.info-icon-holder,
.voucher-last-message-sent-date,
.voucher-details,
.supporting .support-caption,
my-account-licensing,
my-account-licensing *,
.pn-licensing__dropdown-item-button,
.pn-list .pn-list-scopes .dropdown-menu li,
.btn.btn-back {
    color: #333 !important;
}

.fuw h1,
.fuw h2,
.fuw h3,
.fuw .right h2,
.schweizer h1,
.schweizer h2,
.schweizer h3,
.schweizer .right h2,
.femina h1,
.femina h2,
.femina h3,
.femina .right h2,
.bilan h1,
.bilan h2,
.bilan h3,
.bilan .right h2,
.checkout .account-head-contentcol h1,
.checkout .receipt h1,
.checkout .view-alreadyHasAccess h1,
#piano-myaccount h1,
#piano-myaccount h2,
#piano-myaccount h3,
#piano-myaccount .header-navigation-tabs li a,
#piano-myaccount .item-name,
#piano-myaccount .manage-dropdown li,
#piano-myaccount .section-text,
#piano-myaccount .change-option-title,
.modal h3,
.modal .close i,
.vanilla-table tr>th,
.voucher-name {
    color: #121212 !important;
}

.fuw .background .left,
.schweizer .background .left,
.femina .background .left,
.bilan .background .left {
    background: #e9e9e9 !important;
}

.fuw .background .right,
.schweizer .background .right,
.femina .background .right,
.bilan .background .right {
    background: #f4f4f4 !important;
}

.fuw .right .button1,
.schweizer .right .button1,
.femina .right .button1,
.bilan .right .button1 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .right .button2:not(div),
.fuw .right .button3:not(div),
.schweizer .right .button2:not(div),
.schweizer .right .button3:not(div),
.femina .right .button2:not(div),
.femina .right .button3:not(div),
.bilan .right .button2:not(div),
.bilan .right .button3:not(div) {
    background: #fff !important;
    color: #121212 !important;
}

.fuw .right div.button2:not(div),
.schweizer .right div.button2:not(div),
.femina .right div.button2:not(div),
.bilan .right div.button2:not(div) {
    background: transparent !important;
}

.fuw .offer,
.schweizer .offer,
.femina .offer,
.bilan .offer,
.fuw .standard .inlay-background,
.schweizer .standard .inlay-background,
.femina .standard .inlay-background,
.bilan .standard .inlay-background,
.checkout .account-head,
.checkout .view.view-confirmation .footer-modal {
    background: #f4f4f4 !important;
}

.fuw .bestseller .offer,
.fuw .bestseller-bottom .offer,
.fuw .offers-holder.all-yellow .offer,
.schweizer .bestseller .offer,
.schweizer .bestseller-bottom .offer,
.schweizer .offers-holder.all-yellow .offer,
.femina .bestseller .offer,
.femina .bestseller-bottom .offer,
.femina .offers-holder.all-yellow .offer,
.bilan .bestseller .offer,
.bilan .bestseller-bottom .offer,
.bilan .offers-holder.all-yellow .offer {
    background: #e9e9e9 !important;
}

.fuw .button2:not(div),
.fuw .button3:not(div),
.schweizer .button2:not(div),
.schweizer .button3:not(div),
.femina .button2:not(div),
.femina .button3:not(div),
.bilan .button2:not(div),
.bilan .button3:not(div),
.btn--large.btn--gray {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .button2:not(div):hover,
.fuw .button3:not(div):hover,
.schweizer .button2:not(div):hover,
.schweizer .button3:not(div):hover,
.femina .button2:not(div):hover,
.femina .button3:not(div):hover,
.bilan .button2:not(div):hover,
.bilan .button3:not(div):hover,
.btn--large.btn--gray:hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.checkout .promo-code-component input {
    border-bottom: 1px solid #7d7d7d !important;
}

.custom-checkbox label:before,
.custom-radio-button label,
.custom-radio-button.with-text label:after,
.radiobutton input:checked+.radiobutton__label::before {
    border: 2px solid #333333;
}

.custom-checkbox input:checked+label:before,
.custom-radio-button input:checked+label:before,
.radiobutton__label::after {
    background: #333333;
}

#piano-myaccount .header-navigation-tabs li.active a {
    border-bottom: 3px solid #121212;
}

@media screen and (max-width: 712px) {

    .fuw .aboshop-holder .content .left,
    .schweizer .aboshop-holder .content .left,
    .femina .aboshop-holder .content .left,
    .bilan .aboshop-holder .content .left {
        background: #e9e9e9 !important;
    }

    .fuw .aboshop-holder .content .right,
    .schweizer .aboshop-holder .content .right,
    .femina .aboshop-holder .content .right,
    .bilan .aboshop-holder .content .right {
        background: #f4f4f4 !important;
    }
}

/* common vertical colors */