/* fuw */

.fuw,
.fuw a {
    color: #333;
}

.fuw h1,
.fuw h2,
.fuw h3 {
    color: #121212;
}

.fuw .button1 {
    background: #043785 !important;
    color: #fff;
}

.fuw .button1:hover {
    background: #797B90 !important;
}

.fuw .button2,
.fuw .button3 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .button2:hover,
.fuw .button3:hover {
    background: #F4F4F4 !important;
}

/* schweizer / femina */

.schweizer-femina,
.schweizer-femina a {
    color: #333;
}

.schweizer-femina h1,
.schweizer-femina h2,
.schweizer-femina h3 {
    color: #121212;
}

.schweizer-femina .button1 {
    background: #043785 !important;
    color: #fff;
}

.schweizer-femina .button1:hover {
    background: #797B90 !important;
}

.schweizer-femina .button2,
.schweizer-femina .button3 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.schweizer-femina .button2:hover,
.schweizer-femina .button3:hover {
    background: #F4F4F4 !important;
}

/* bilan */
.bilan,
.bilan a {
    color: #333;
}

.bilan h1,
.bilan h2,
.bilan h3 {
    color: #121212;
}

.bilan .button1,
.bilan .button1 {
    background: #AA0A0C !important;
    color: #fff;
}

.bilan .button1:hover {
    background: #797B90 !important;
}

.bilan .button2,
.bilan .button3 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.bilan .button2:hover,
.bilan .button3:hover {
    background: #F4F4F4 !important;
}

.aboshop-holder .background .left {
    background: #e9e9e9;
}
