.fuw,
.fuw a,
.fuw .text,
.schweizer,
.schweizer a,
.schweizer .text,
.femina,
.femina a,
.femina .text,
.bilan,
.bilan a,
.bilan .text {
    color: #333!important;
}

.fuw h1,
.fuw h2,
.fuw h3,
.fuw .right h2,
.schweizer h1,
.schweizer h2,
.schweizer h3,
.schweizer .right h2,
.femina h1,
.femina h2,
.femina h3,
.femina .right h2,
.bilan h1,
.bilan h2,
.bilan h3,
.bilan .right h2 {
    color: #121212!important;
}

/* fuw */
.fuw .button1 {
    background: #043785 !important;
    color: #fff!important;
}

.fuw .button1:hover {
    background: rgba(4, 55, 133, 0.8) !important;
}

.fuw .button2,
.fuw .button3 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .button2:hover,
.fuw .button3:hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.fuw .background .left,
.schweizer .background .left,
.femina .background .left,
.bilan .background .left {
    background: #e9e9e9!important;
}

.fuw .background .right,
.schweizer .background .right,
.femina .background .right,
.bilan .background .right {
    background: rgba(233, 231, 226, 0.8)!important;
}

.fuw .right .button1,
.schweizer .right .button1,
.femina .right .button1,
.bilan .right .button1 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .right .button2,
.fuw .right .button3,
.schweizer .right .button2,
.schweizer .right .button3,
.femina .right .button2,
.femina .right .button3,
.bilan .right .button2,
.bilan .right .button3 {
    background: #fff !important;
    color: #121212 !important;
}

.fuw .right div.button2,
.schweizer .right div.button2,
.femina .right div.button2,
.bilan .right div.button2 {
    background: transparent !important;
}

/* schweizer */

.schweizer .button1 {
    background: #d92128 !important;
    color: #fff!important;
}

.schweizer .button1:hover {
    background: #797B90 !important;
}

.schweizer .button2,
.schweizer .button3 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.schweizer .button2:hover,
.schweizer .button3:hover {
    background: rgba(222, 35, 43, 0.8) !important;
}

/* femina */

.femina .button1 {
    background: #d92128 !important;
    color: #fff!important;
}

.femina .button1:hover {
    background: rgba(217, 33, 40, 0.8) !important;
}

.femina .button2,
.femina .button3 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.femina .button2:hover,
.femina .button3:hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

/* bilan */
.bilan .button1 {
    background: #AA0A0C !important;
    color: #fff!important;
}

.bilan .button1:hover {
    background: rgba(170, 10, 12, 0.8) !important;
}

.bilan .button2,
.bilan .button3 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.bilan .button2:hover,
.bilan .button3:hover {
    background: rgba(233, 231, 226, 0.8) !important;
}
