/* COMMON VERTICAL COLORS */
.fuw,
.fuw a,
.fuw .text,
.fuw .inline-holder,
.schweizer,
.schweizer a,
.schweizer .text,
.schweizer .inline-holder,
.femina,
.femina a,
.femina .text,
.femina .inline-holder,
.bilan,
.bilan a,
.bilan .text,
.bilan .inline-holder {
    color: #333 !important;
}

.fuw h1,
.fuw h2,
.fuw h3,
.fuw .right h2,
.schweizer h1,
.schweizer h2,
.schweizer h3,
.schweizer .right h2,
.femina h1,
.femina h2,
.femina h3,
.femina .right h2,
.bilan h1,
.bilan h2,
.bilan h3,
.bilan .right h2 {
    color: #121212 !important;
}

.fuw .background .left,
.schweizer .background .left,
.femina .background .left,
.bilan .background .left {
    background: #e9e9e9 !important;
}

.fuw .background .right,
.schweizer .background .right,
.femina .background .right,
.bilan .background .right {
    background: rgba(233, 231, 226, 0.8) !important;
}

.fuw .right .button1,
.schweizer .right .button1,
.femina .right .button1,
.bilan .right .button1 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .right .button2:not(div),
.fuw .right .button3:not(div),
.schweizer .right .button2:not(div),
.schweizer .right .button3:not(div),
.femina .right .button2:not(div),
.femina .right .button3:not(div),
.bilan .right .button2:not(div),
.bilan .right .button3:not(div) {
    background: #fff !important;
    color: #121212 !important;
}

.fuw .right div.button2:not(div),
.schweizer .right div.button2:not(div),
.femina .right div.button2:not(div),
.bilan .right div.button2:not(div) {
    background: transparent !important;
}

.fuw .offer,
.schweizer .offer,
.femina .offer,
.bilan .offer,
.fuw .standard .inlay-background,
.schweizer .standard .inlay-background,
.femina .standard .inlay-background,
.bilan .standard .inlay-background {
    background: #f4f4f4 !important;
}

.fuw .bestseller .offer,
.fuw .bestseller-bottom .offer,
.fuw .offers-holder.all-yellow .offer,
.schweizer .bestseller .offer,
.schweizer .bestseller-bottom .offer,
.schweizer .offers-holder.all-yellow .offer,
.femina .bestseller .offer,
.femina .bestseller-bottom .offer,
.femina .offers-holder.all-yellow .offer,
.bilan .bestseller .offer,
.bilan .bestseller-bottom .offer,
.bilan .offers-holder.all-yellow .offer {
    background: #e9e9e9 !important;
}

/* common vertical colors */

/* FUW */
.fuw .button1,
.fuw .primary {
    background: #043785 !important;
    color: #fff !important;
}

.fuw .button1:hover,
.fuw .primary:hover {
    background: rgba(4, 55, 133, 0.8) !important;
}

.fuw .button2:not(div),
.fuw .button3:not(div) {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .button2:not(div):hover,
.fuw .button3:not(div):hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.fuw .bestseller .bestseller-text div {
    color: #043785 !important;
}

/* fuw */

/* SCHWEIZER */
.schweizer .button1,
.schweizer .primary {
    background: #de232b !important;
    color: #fff !important;
}

.schweizer .button1:hover,
.schweizer .primary:hover {
    background: rgba(222, 35, 43, 0.8) !important;
}

.schweizer .button2:not(div),
.schweizer .button3:not(div) {
    background: #e4e2db !important;
    color: #121212 !important;
}

.schweizer .button2:not(div):hover,
.schweizer .button3:not(div):hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.schweizer .bestseller .bestseller-text div {
    color: #de232b !important;
}

/* schweizer */

/* FEMINA */
.femina .button1,
.femina .primary {
    background: #d92128 !important;
    color: #fff !important;
}

.femina .button1:hover,
.femina .primary:hover {
    background: rgba(217, 33, 40, 0.8) !important;
}

.femina .button2:not(div),
.femina .button3:not(div) {
    background: #e4e2db !important;
    color: #121212 !important;
}

.femina .button2:not(div):hover,
.femina .button3:not(div):hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.femina .bestseller .bestseller-text div {
    color: #d92128 !important;
}

/* femina */

/* BILAN */
.bilan .button1,
.bilan .primary {
    background: #AA0A0C !important;
    color: #fff !important;
}

.bilan .button1:hover,
.bilan .primary:hover {
    background: rgba(170, 10, 12, 0.8) !important;
}

.bilan .button2:not(div),
.bilan .button3:not(div) {
    background: #e4e2db !important;
    color: #121212 !important;
}

.bilan .button2:not(div):hover,
.bilan .button3:not(div):hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.femina .bestseller .bestseller-text div {
    color: #AA0A0C !important;
}

/* bilan */
