/* DARK MODE COLORS */
.darkmode,
.darkmode a,
.darkmode .text,
.darkmode .inline-holder,
.darkmode .overlay-holder,
.darkmode .checkout,
.checkout .darkmode .account-head .benefits,
.checkout .darkmode .term-details,
.checkout .darkmode .term-details t,
.checkout .darkmode .tariff-plan-cell,
.checkout .darkmode h4,
.checkout .darkmode .billing-country .tp-dropdown__item-color.blue,
.checkout .darkmode .add-credit-card,
.checkout .darkmode .go-back-to-cards,
.checkout .darkmode a.button.promo-code-apply,
.checkout .darkmode button.button.promo-code-apply,
.darkmode .custom-checkbox label,
.checkout .darkmode .consents .custom-checkbox label a,
.checkout .darkmode .consents .custom-checkbox label a:visited,
.checkout .darkmode .receipt .content,
.checkout .darkmode .view-alreadyHasAccess .content,
.darkmode#piano-myaccount,
.darkmode#piano-myaccount .btn-group>.btn,
.darkmode#piano-myaccount .btn-group>.dropdown-menu,
.darkmode#piano-myaccount .btn-group>.popover,
.darkmode#piano-myaccount .change-option-description,
.darkmode#piano-myaccount ul.simple-list>li.simple-list__item--with-dot,
.darkmode#piano-myaccount ul.simple-list>li.simple-list__item,
.darkmode .update-payment-method .payment_info,
.darkmode .vanilla-table tr>td .resource-title,
.darkmode .vanilla-table tr>td .transaction-date,
.darkmode .expiration-warning,
.darkmode .btn.underline,
.darkmode .vanilla-table button,
.darkmode .info-icon-holder,
.darkmode .voucher-last-message-sent-date,
.darkmode .voucher-details,
.darkmode .supporting .support-caption,
.darkmode my-account-licensing,
.darkmode my-account-licensing *,
.darkmode .pn-licensing__dropdown-item-button,
.darkmode .pn-list .pn-list-scopes .dropdown-menu li,
.darkmode .btn.btn-back {
    color: #e9e9e9 !important;
}

.darkmode#piano-myaccount,
.darkmode .inline-holder {
    background: #121212;
}

.darkmode h1,
.darkmode h2,
.darkmode h3,
.darkmode .right h2,
.checkout .darkmode .account-head-contentcol h1,
.checkout .darkmode .receipt h1,
.checkout .darkmode .view-alreadyHasAccess h1,
.darkmode#piano-myaccount h1,
.darkmode#piano-myaccount h2,
.darkmode#piano-myaccount h3,
.darkmode#piano-myaccount .header-navigation-tabs li a,
.darkmode#piano-myaccount .item-name,
.darkmode#piano-myaccount .manage-dropdown li,
.darkmode#piano-myaccount .section-text,
.darkmode#piano-myaccount .change-option-title,
.darkmode .modal h3,
.darkmode .modal .close i,
.darkmode .vanilla-table tr>th,
.darkmode .voucher-name {
    color: #e9e9e9 !important;
}

.darkmode .background .left {
    background: #e9e9e9 !important;
}

.darkmode .background .right {
    background: #f4f4f4 !important;
}

.darkmode .right .button1 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.darkmode .right .button2:not(div),
.darkmode .right .button3:not(div) {
    background: #fff !important;
    color: #121212 !important;
}

.darkmode .right div.button2:not(div) {
    background: transparent !important;
}

.darkmode .offer,
.darkmode .standard .inlay-background,
.checkout .darkmode .account-head,
.checkout .darkmode .view.view-confirmation .footer-modal {
    background: #f4f4f4 !important;
}

.darkmode .bestseller .offer,
.darkmode .bestseller-bottom .offer,
.darkmode .offers-holder.all-yellow .offer {
    background: #e9e9e9 !important;
}

.darkmode .button2:not(div),
.darkmode .button3:not(div),
.darkmode .btn--large.btn--gray {
    background: #6f7187 !important;
    color: #fff !important;
}

.darkmode .button2:not(div):hover,
.darkmode .button3:not(div):hover,
.darkmode .btn--large.btn--gray:hover {
    background: #474A66 !important;
}

.checkout .darkmode .promo-code-component input {
    border-bottom: 1px solid #7d7d7d !important;
}

.darkmode .custom-checkbox label:before,
.darkmode .custom-radio-button label,
.darkmode .custom-radio-button.with-text label:after,
.darkmode .radiobutton input:checked+.radiobutton__label::before {
    border: 2px solid #333333;
}

.darkmode .custom-checkbox input:checked+label:before,
.darkmode .custom-radio-button input:checked+label:before,
.darkmode .radiobutton__label::after {
    background: #333333;
}

.darkmode#piano-myaccount .header-navigation-tabs li.active a {
    border-bottom: 3px solid #e9e9e9;
}

.darkmode .btn.disabled,
.darkmode .btn.disabled:active,
.darkmode .btn.disabled:hover,
.darkmode .btn[disabled],
.darkmode .btn[disabled]:active,
.darkmode .btn[disabled]:hover {
    opacity: 1 !important;
    background: #555555 !important;
    color: #d4d4d0 !important;
}

.darkmode .button1,
.darkmode .primary,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled),
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled),
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled) a,
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled) a,
.darkmode .btn--large.btn--blue {
    background: #ffe462 !important;
    color: #202346 !important;
}

.darkmode .button1:hover,
.darkmode .primary:hover,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):hover,
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):hover,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled) a:hover,
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled) a:hover,
.btn--large.btn--blue:hover {
    background: #FFF2B7 !important;
}

.darkmode .bestseller .bestseller-text div {
    color: #fff !important;
}

/* dark mode colors */