/* FEMINA */
.femina .button1,
.femina .primary,
.checkout .complete-purchase-button a:not(.disabled):not(:disabled),
.btn--large.btn--blue,
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled),
.darkmode .button1,
.darkmode .primary,
.checkout .darkmode .complete-purchase-button a:not(.disabled):not(:disabled),
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled),
.darkmode .complete-purchase:not(.disabled):not(:disabled),
.darkmode .complete-purchase-button:not(.disabled):not(:disabled),
.darkmode .shared-subscription-modal .add-button,
.view-giftParams a.button:not([disabled]):not(:disabled),
.view-giftParams a.button:visited:not(.disabled):not(:disabled),
.view-giftParams button.button:not(.disabled):not(:disabled),
.button.big:not(.gray),
.darkmode .bestseller .offer .primary, 
.darkmode .bestseller-bottom .offer .primary, 
.darkmode .offers-holder.all-yellow .offer .primary,
.darkmode .button.big:not(.gray) {
    background: #d92128 !important;
    color: #fff !important;
}

.femina .button1:hover,
.femina .primary:hover,
.checkout .complete-purchase-button a:not(.disabled):not(:disabled):hover,
.btn--large.btn--blue:hover,
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled):hover,
.darkmode .button1:hover,
.darkmode .primary:hover,
.checkout .darkmode .complete-purchase-button a:not(.disabled):not(:disabled):hover,
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled):hover,
.darkmode .complete-purchase:not(.disabled):not(:disabled):hover,
.darkmode .complete-purchase-button:not(.disabled):not(:disabled):hover,
.darkmode .shared-subscription-modal .add-button:hover,
.view-giftParams a.button:not([disabled]):not(:disabled):hover,
.view-giftParams a.button:visited:not(.disabled):not(:disabled):hover,
.view-giftParams button.button:not(.disabled):not(:disabled):hover,
.button.big:not(.gray):hover,
.darkmode .bestseller .offer .primary:hover, 
.darkmode .bestseller-bottom .offer .primary:hover, 
.darkmode .offers-holder.all-yellow .offer .primary:hover,
.darkmode .button.big:not(.gray):hover {
    background: rgba(217, 33, 40, 0.8) !important;
}

/* DARKMODE */

.darkmode .button2:not(div), 
.darkmode .button3:not(div), 
.darkmode .btn--large.btn--gray, 
.darkmode a.button.gray, 
a.button.gray:visited, 
.darkmode button.button.gray, 
.darkmode button.button.gray:visited, 
.darkmode button.secondary {
    background: #aba9a4 !important;
  	color:#fff !important;
}

.darkmode .button2:not(div):hover, 
.darkmode .button3:not(div):hover, 
.darkmode .btn--large.btn--gray:hover, 
.darkmode a.button.gray:hover, 
a.button.gray:visited:hover, 
.darkmode button.button.gray:hover, 
.darkmode button.button.gray:visited:hover, 
.darkmode button.secondary:hover {
    background: rgba(171, 169, 164, 0.8) !important;
}

/* darkmode */

/* femina */