/* FUW */
.fuw .button1,
.fuw .primary,
.checkout .complete-purchase:not(.disabled):not(:disabled), 
.checkout .complete-purchase-button:not(.disabled):not(:disabled),
.checkout .complete-purchase:not(.disabled):not(:disabled) a, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled) a,
.btn--large.btn--blue {
    background: #043785 !important;
    color: #fff !important;
}

.fuw .button1:hover,
.fuw .primary:hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):hover,
.checkout .complete-purchase:not(.disabled):not(:disabled) a:hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled) a:hover,
.btn--large.btn--blue:hover {
    background: rgba(4, 55, 133, 0.8) !important;
}

.fuw .bestseller .bestseller-text div {
    color: #043785 !important;
}

/* DARKMODE */

.fuw.darkmode .button1,
.fuw.darkmode .primary,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled), 
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled),
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled) a, 
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled) a,
.darkmode .btn--large.btn--blue {
    background: #0759D5 !important;
}

.fuw.darkmode .bestseller .bestseller-text div {
    color: #0759D5 !important;
}

/* darkmode */

/* fuw */