/* FUW */
.fuw .button1,
.fuw .primary,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]), 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]),
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]) a, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]) a,
.btn--large.btn--blue,
a.button:not(.disabled):not(:disabled):not([disabled]),
a.button:visited:not(.disabled):not(:disabled):not([disabled]),
button.button:not(.disabled):not(:disabled):not([disabled]) {
    background: #043785 !important;
    color: #fff !important;
}

.fuw .button1:hover,
.fuw .primary:hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]) a:hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]) a:hover,
.btn--large.btn--blue:hover,
a.button:not(.disabled):not(:disabled):not([disabled]):hover,
a.button:visited:not(.disabled):not(:disabled):not([disabled]):hover,
button.button:not(.disabled):not(:disabled):not([disabled]):hover,
a.button:not(.pay):not(.disabled):not(:disabled):not([disabled]):not(.promo-code-apply):hover {
    background: rgba(4, 55, 133, 0.8) !important;
}

.fuw .bestseller .bestseller-text div {
    color: #043785 !important;
}

/* DARKMODE */

.fuw.darkmode .button1,
.fuw.darkmode .primary,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]), 
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]),
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]) a, 
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]) a,
.darkmode .btn--large.btn--blue,
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled):not([disabled]),
.darkmode .button1,
.darkmode .primary,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]),
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]),
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]) a,
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]) a,
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled):not([disabled]),
.darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]),
.darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]),
.darkmode .shared-subscription-modal .add-button {
    background: #0759D5 !important;
    color:#fff !important;
}

.fuw.darkmode .button1:hover,
.fuw.darkmode .primary:hover,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]):hover, 
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):hover,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]) a:hover, 
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]) a:hover,
.darkmode .btn--large.btn--blue:hover,
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled):not([disabled]):hover,
.darkmode .button1:hover,
.darkmode .primary:hover,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]):hover,
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):hover,
.checkout .darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]) a:hover,
.checkout .darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]) a:hover,
.darkmode .btn--large.btn--blue:not(.disabled):not(:disabled):not([disabled]):hover,
.darkmode .complete-purchase:not(.disabled):not(:disabled):not([disabled]):hover,
.darkmode .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):hover,
.darkmode .shared-subscription-modal .add-button:hover {
    background: rgba(7, 89, 213, 0.8) !important;
}

.fuw.darkmode .bestseller .bestseller-text div {
    color: #0759D5 !important;
}


.darkmode .button2:not(div), 
.darkmode .button3:not(div), 
.darkmode .btn--large.btn--gray, 
.darkmode a.button.gray, 
a.button.gray:visited, 
.darkmode button.button.gray, 
.darkmode button.button.gray:visited, 
.darkmode button.secondary {
    background: #aba9a4 !important;
  	color:#fff !important;
}

.darkmode .button2:not(div):hover, 
.darkmode .button3:not(div):hover, 
.darkmode .btn--large.btn--gray:hover, 
.darkmode a.button.gray:hover, 
a.button.gray:visited:hover, 
.darkmode button.button.gray:hover, 
.darkmode button.button.gray:visited:hover, 
.darkmode button.secondary:hover {
    background: rgba(171, 169, 164, 0.8) !important;
}

/* darkmode */

/* fuw */