/* COMMON VERTICAL COLORS */
.fuw,
.fuw a,
.fuw .text,
.fuw .inline-holder,
.sf,
.sf a,
.sf .text,
.sf .inline-holder,
.femina,
.femina a,
.femina .text,
.femina .inline-holder,
.bilan,
.bilan a,
.bilan .text,
.bilan .inline-holder,
.checkout,
.checkout .account-head .benefits,
.checkout .term-details, 
.checkout .term-details t,
.checkout .tariff-plan-cell,
.checkout h4,
.checkout .billing-country .tp-dropdown__item-color.blue,
.checkout .add-credit-card, 
.checkout .go-back-to-cards, 
.checkout a.button.promo-code-apply,
.checkout button.button.promo-code-apply,
.checkout .custom-checkbox label,
.checkout .consents .custom-checkbox label a,
.checkout .consents .custom-checkbox label a:visited,
.checkout .receipt .content, 
.checkout .view-alreadyHasAccess .content {
    color: #333 !important;
}

.fuw h1,
.fuw h2,
.fuw h3,
.fuw .right h2,
.sf h1,
.sf h2,
.sf h3,
.sf .right h2,
.femina h1,
.femina h2,
.femina h3,
.femina .right h2,
.bilan h1,
.bilan h2,
.bilan h3,
.bilan .right h2,
.checkout .account-head-contentcol h1,
.checkout .receipt h1,
.checkout .view-alreadyHasAccess h1{
    color: #121212 !important;
}

.fuw .background .left,
.sf .background .left,
.femina .background .left,
.bilan .background .left {
    background: #e9e9e9 !important;
}

.fuw .background .right,
.sf .background .right,
.femina .background .right,
.bilan .background .right {
    background: rgba(233, 231, 226, 0.8) !important;
}

.fuw .right .button1,
.sf .right .button1,
.femina .right .button1,
.bilan .right .button1 {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .right .button2:not(div),
.fuw .right .button3:not(div),
.sf .right .button2:not(div),
.sf .right .button3:not(div),
.femina .right .button2:not(div),
.femina .right .button3:not(div),
.bilan .right .button2:not(div),
.bilan .right .button3:not(div) {
    background: #fff !important;
    color: #121212 !important;
}

.fuw .right div.button2:not(div),
.sf .right div.button2:not(div),
.femina .right div.button2:not(div),
.bilan .right div.button2:not(div) {
    background: transparent !important;
}

.fuw .offer,
.sf .offer,
.femina .offer,
.bilan .offer,
.fuw .standard .inlay-background,
.sf .standard .inlay-background,
.femina .standard .inlay-background,
.bilan .standard .inlay-background,
.checkout .account-head,
.checkout .view.view-confirmation .footer-modal {
    background: #f4f4f4 !important;
}

.fuw .bestseller .offer,
.fuw .bestseller-bottom .offer,
.fuw .offers-holder.all-yellow .offer,
.sf .bestseller .offer,
.sf .bestseller-bottom .offer,
.sf .offers-holder.all-yellow .offer,
.femina .bestseller .offer,
.femina .bestseller-bottom .offer,
.femina .offers-holder.all-yellow .offer,
.bilan .bestseller .offer,
.bilan .bestseller-bottom .offer,
.bilan .offers-holder.all-yellow .offer {
    background: #e9e9e9 !important;
}

.fuw .button2:not(div),
.fuw .button3:not(div),
.sf .button2:not(div),
.sf .button3:not(div),
.femina .button2:not(div),
.femina .button3:not(div),
.bilan .button2:not(div),
.bilan .button3:not(div) {
    background: #e4e2db !important;
    color: #121212 !important;
}

.fuw .button2:not(div):hover,
.fuw .button3:not(div):hover,
.sf .button2:not(div):hover,
.sf .button3:not(div):hover,
.femina .button2:not(div):hover,
.femina .button3:not(div):hover,
.bilan .button2:not(div):hover,
.bilan .button3:not(div):hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.checkout .promo-code-component input {
	border-bottom: 1px solid #7d7d7d !important;
}

.checkout .custom-checkbox label:before,
.checkout .custom-radio-button label,
.checkout .custom-radio-button.with-text label:after {
	border: 2px solid #333333;
}

.checkout .custom-checkbox input:checked+label:before,
.checkout .custom-radio-button input:checked+label:before {
	background: #333333;
}

/* common vertical colors */

/* FUW */
.fuw .button1,
.fuw .primary,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]), 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]) {
    background: #043785 !important;
    color: #fff !important;
}

.fuw .button1:hover,
.fuw .primary:hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover {
    background: rgba(4, 55, 133, 0.8) !important;
}

.fuw .button2:not(div):hover,
.fuw .button3:not(div):hover {
    background: rgba(233, 231, 226, 0.8) !important;
}

.fuw .bestseller .bestseller-text div {
    color: #043785 !important;
}

/* fuw */

/* SCHWEIZER */
.sf .button1,
.sf .primary,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]), 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]) {
    background: #de232b !important;
    color: #fff !important;
}

.sf .button1:hover,
.sf .primary:hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover {
    background: rgba(222, 35, 43, 0.8) !important;
}

.sf .bestseller .bestseller-text div {
    color: #de232b !important;
}

/* schweizer */

/* FEMINA */
.femina .button1,
.femina .primary,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]), 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]) {
    background: #d92128 !important;
    color: #fff !important;
}

.femina .button1:hover,
.femina .primary:hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover {
    background: rgba(217, 33, 40, 0.8) !important;
}

.femina .bestseller .bestseller-text div {
    color: #d92128 !important;
}

/* femina */

/* BILAN */
.bilan .button1,
.bilan .primary,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]), 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]) {
    background: #AA0A0C !important;
    color: #fff !important;
}

.bilan .button1:hover,
.bilan .primary:hover,
.checkout .complete-purchase:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover, 
.checkout .complete-purchase-button:not(.disabled):not(:disabled):not([disabled]):not([disabled]):hover {
    background: rgba(170, 10, 12, 0.8) !important;
}

.femina .bestseller .bestseller-text div {
    color: #AA0A0C !important;
}

/* bilan */